/* Setter bakgrunnsfarge */
body {background-color: beige;}
/* Setter stil på knappene */
button {
    color: black;
    background-color: white;

    border: 100%;
    border-width: 3px;
    border-radius: 5px;
    border-color: beige;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;

    box-shadow: 2px 2px 2px rgb(204, 204, 187);
    padding: 0.5%;
    /* Gjør cursoren til en pointer. Uten denne ville cursoren ha ikke gjort dette */
    cursor: pointer;
    
    /* Transisjon tilbake fra de andre transisjonene */
    transition: all 0.5s;
}
/* Når pilen er over en knapp.. */
button:hover {
    /* Setter en transisjon på alle effektene som varer i ett sekund */
    transition: all 1s;
    /* Endrer på knappene når muspekeren er over de */
    color: navy;
    border-color: navy;
    box-shadow: 2px 2px 2px navy;
}
/* Når knappen er trykket på.. */
button:active {
    /* Gjør den 10% mindre på 0.1 sekund */
    transition: all 0.1s;
    scale: 90%;
}