/* Stiler send knappen */
#kontaktSubmit {
    color: black;
    background-color: white;
    
    border: 100%;
    border-width: 3px;
    border-radius: 5px;
    border-color: beige;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    
    box-shadow: 2px 2px 2px rgb(204, 204, 187);
    padding: 0.5%;
    cursor: pointer;
}
/* Stiler tekstboksene */
input[type=text] {
    border: 100%;
    border-width: 3px;
    border-radius: 5px;
    border-color: beige;
    box-shadow: 2px 2px 2px rgb(204, 204, 187);

    width: 20%;
    padding: 0.5%;
}
/* Stiler spesifikt beskjed tekstboksen til å være litt større enn de andre */
#beskjedText {
    width: 30%;
    height: 50px;
    padding: 0.5%;
}